nav{
    background-color: rgb(50, 250, 150);
    text-align: center;
}
nav li{
    list-style-type:none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav li a:hover{
    background-color: lightsalmon;
    color: darkviolet;
    transition: background-color 2s linear,color 2s ease-in-out;
}